---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=4c79fdf42257f481973ffde69bfe9158&format=json&method=flickr.photosets.getList&nojsoncallback=1&user_id=24448805@N07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="4c79fdf42257f481973ffde69bfe9158", oauth_nonce="6204a59df4b0ecd6606e7e1fd9384a9b",
        oauth_signature="6BA6KDI2jpGTDGQ4MAGRG1jUNUo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1554553880", oauth_token="", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photosets":{"page":1,"pages":1,"perpage":33,"total":33,"photoset":[{"id":"72157606319933770","primary":"19272672595","secret":"948b4963b8","server":"465","farm":1,"photos":958,"videos":0,"title":{"_content":"New
        York"},"description":{"_content":"Five Boroughs of New York City"},"needs_interstitial":0,"visibility_can_see_set":1,"count_views":"39316","count_comments":"9","can_comment":0,"date_create":"1216771657","date_update":"1549389498"},{"id":"72157625781056654","primary":"44249125060","secret":"a5c01f574b","server":"4918","farm":5,"photos":102,"videos":0,"title":{"_content":"California"},"description":{"_content":"SoCal
        - L.A\nNoCal - S.F\nOtherCal - Yosemite"},"needs_interstitial":0,"visibility_can_see_set":1,"count_views":"411","count_comments":"0","can_comment":0,"date_create":"1294552865","date_update":"1549389498"},{"id":"72157632704433824","primary":"16758782938","secret":"0d4f00a16f","server":"8721[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=4c79fdf42257f481973ffde69bfe9158&format=json&method=flickr.people.getInfo&nojsoncallback=1&user_id=24448805@N07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="4c79fdf42257f481973ffde69bfe9158", oauth_nonce="93452ec4353be20e210f9f1a54814f44",
        oauth_signature="VCT5CXro%2B%2FsZlu2k4TPTTLt4BQI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1554553880", oauth_token="", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"person":{"id":"24448805@N07","nsid":"24448805@N07","ispro":1,"can_buy_pro":0,"iconserver":"1640","iconfarm":2,"path_alias":"tonyshi","has_stats":"1","pro_badge":"standard","expire":"0","username":{"_content":"Tony
        Shi Photos"},"realname":{"_content":"Tony Shi"},"mbox_sha1sum":{"_content":"daa9a756cf71521242b10b06e96bdbe97b6ca979"},"location":{"_content":"San
        Francisco, USA"},"timezone":{"label":"Pacific Time (US & Canada); Tijuana","offset":"-08:00","timezone_id":"PST8PDT"},"description":{"_content":"I
        have a passion for beautiful things...city, architecture, landscape and people....
        \n\nCommitted for quality images, serving New York City since 2008, all images
        are geotagged to my best knowledge and EXIF data are available if you are
        interested to know how I process them and what the camera specs are.\n\nIT
        worker in San Francisco\n\nOther Flickr Accounts:\n\n<a href=\"https:\/\/www.flickr.com\/photos\/tonyshilife\">Events,
        Sports and Fashion Photography<\/a>\n\n<a href=\"https:\/\/www.flickr.com\/photos\/tspair\">Aerial
        Photography<\/a>\n\n<a href=\"https:\/\/www.flickr.com\/photos\/tsptactical\">Tactical
        and Military Photography<\/a>\n\nAlso, check out my......\n\n<a href=\"http:\/\/www.gettyimages.com\/search\/photographer?family=creative&amp;photographer=Tony+Shi+Photography\"
        rel=\"noreferrer nofollow\"><img class=''notsowide'' src=\"https:\/\/farm9.staticflickr.com\/8047\/8136572165_53fc75b9c2_o.jpg\"
        width=\"417\" height=\"38\" alt=\"01gettyimage\" \/><\/a>\n<a href=\"https:\/\/instagram.com\/tonyshiphoto\/\"
        title=\"TonyShiPhoto Instagram\" rel=\"noreferrer nofollow\"><img class=''notsowide''
        src=\"https:\/\/farm9.staticflickr.com\/8774\/16993129138_efbb30dee7_n.jpg\"
        width=\"320\" height=\"42\" alt=\"instaflickrb\" \/><\/a>\n<a href=\"http:\/\/www.facebook.com\/to[...]
