@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$dark-blue: #0046a8;
$light-blue: #c9dfff;

h4 {
  color: white;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #333;
  padding-top: 60px;
}

.container {
  width: 100%;
  text-align: center;
  padding: 0px;
}

.center-box {
  display: inline-block;
  margin: auto;
}
.photo {
  margin-bottom: 4px;
  //vertical-align: bottom;
}

.center {
  display: inline-block;
  text-align: center;
}

/* header */

.navbar {
  position: fixed;
  top: 0;
}

header {
  background-color: black !important;
  //border-style: solid;
  //border-bottom-width: 7px !important;
  //border-color: $white !important;
}

#logo {
  float: left;
  margin-left: 20px;
  font-family: 'Rubik:900', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  padding-top: 6px;
  &:hover {
    color: $light-blue;
    text-decoration: none;
  }
}

#hdr_link {
  float: right;
  margin-right: 30px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid;
  width: 80%;
  margin-bottom: 15px;
  border-color: #bbb !important;
  @include box_sizing;
}

input {
  height: auto !important;
}

.field {
  border-color: black !important;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: black !important;
    border-color: #bbb;
}

.btn-primary:hover {
  background-color: #444 !important;
  border-color: #999;
}

/* misc */

.dark {
  width: 100%;
  background-color: #333;
}

.digg_pagination {
  //background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #777;
    color: white;
    border: 1px solid #bbb; }
  .digg_pagination a {
    text-decoration: none;
    color: #bbb;
    border: 1px solid #bbb; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #fff;
      border-color: #fff; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
